:root {
  font: 50px / 1 sans-serif;
  color: #e9cc69;
}

html {
}

body {
  margin: 0;
  min-height: 100%;
  text-align: center;
  background-color: #086f36;
  box-shadow: 20%;
}

#playerDiv {
  position: absolute;
  top: 80px;
  right: 0;
  width: 200px;
  height: 100px;
  border: 3px solid black;
}

#dealerDiv {
  position: absolute;
  top: 280px;
  right: 0;
  width: 200px;
  height: 100px;
  border: 3px solid black;
}
